body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;    
    font-size: 50px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: -5px;
}
.diff-color{
    color: rgb(209, 163, 78);
}
.divider-container{
    display: flex;
}
.slabs{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
}
.width-divider{
    width: 60%;
    padding-top: 10%;
    /*padding-left: 10%;*/
    
}
.width-divider img{
    width: 60%;
    padding-top: 0;
}
.side-line{
    border-left: 5px solid tomato;
       

}
p{
    width: 80%;
    
    font-size: 20px;
    text-align: justify;
}
.design-button{
    font-size: 20px;
    text-decoration:none ;
    background-color: orange;
    padding: 2px 7px;
    border-radius: 5px;
    background-image:linear-gradient(rgb(238, 238, 133) ,tomato)  ;/* color shadding, on button,from daker to lighter*/
    color: white;
    font-weight: 250;
}
.heading {
    text-align: center;
    color: rgb(12, 23, 58);
    font-size: 45px;
    font-weight: bold;
    font-weight: 900 ;

}
.strategy {
    text-align: center;
    width: 60%;
    border-radius: 5%;
    margin-right: 2%;
    margin-left: 2%;
}
.strategy p{
    padding-left: 7%;
    padding-right: 7%;

}
.strategy img{
    width: 30%;
}
#mission{
    background-color: rgb(136, 134, 151);
}
#vission{
    background-color: lavender;
}
#goal{
    background-color: rgb(204, 158, 158);
}
.mid-title{
    float: left;
    padding-right: 15%;
    font-size: 20px;
    color: black;
    

}
.width-divider2{
    
    width: 40%;
}
.width-divider2 img{
    
    width: 60%;

}
